#jogo{
	width: 500px;
	margin: 0 auto;
}

.peca{
	text-align: center;
	font-family: Arial;
	font-size: 100px;
	color: white;
	border: 1px;
	border-color: white;
	border-style: solid;
	background-color: blue;
	float: left;
	width: 125px;
	height: 125px;
}

.vazio{
	color: black !important;
	background-color: black !important;
}